{% extends 'freelancer/base.html' %}
{% load static %}



<h1>Freelancer Profile: {{ freelancer.user.get_full_name }}</h1>
<p>Email: {{ freelancer.user.email }}</p>
<p>Total Projects: {{ total_Jobs }}</p>
<p>Average Rating: {{ average_rating|floatformat:1 }}</p>
<p>Active Contracts: {{ active_contracts }}</p>

<h2>Completed Jobs</h2>
<ul>
    {% for project in freelancer.Jobs.all %}
        <li>{{ project.name }} - {{ project.status }}</li>
    {% endfor %}
</ul>

    <a href="{% url 'freelancer_edit_profile' %}" class="button">Edit Profile</a>


