<div class="list-group" style="background: linear-gradient(45deg, #1e3c72, #2a5298);">
  <a href="#" class="list-group-item list-group-item-action" style="color: white;">
      Dashboard
  </a>
  <a href="#" class="list-group-item list-group-item-action" style="color: white;">
      My Jobs
  </a>
  <a href="{% url 'freelancer_payment_overview' %}" class="list-group-item list-group-item-action" style="color: white;">
      Earnings
  </a>
</div>

<style>
  .list-group-item:hover {
      background-color: #3b5b8d !important;  /* Darker shade on hover */
      color: white !important;
  }
</style>
