{% extends "base.html" %}

{% block title %}Homepage - Freelancer Website{% endblock %}

{% block content %}
<div class="section hero-section">
    <div class="content-wrapper w-container">
        <div class="flex-wrapper">
            <div class="_40-percent-column">
                <h1 class="hero">Freelancing Portal</h1>
                <p class="hero-subtitle">Just give us the details about the work you need completed, and our freelancers will get it done faster, better, and cheaper than you could possibly imagine.</p>
                <a href="{% url 'Portal:post_project' %}" class="rounded-outline-button">I want to hire</a>
                <a href="{% url 'Portal:browse_jobs' %}" class="rounded-outline-button">I want to work</a>
            </div>
        </div>
    </div>
</div>
<div class="get-updates-section">
    <div class="papers-container">
        <img src="http://uploads.webflow.com/5862ff0a48ddaea33e96e0ef/5862ff4048ddaea33e96e158_Pages.png" width="660" data-ix="papers" srcset="http://uploads.webflow.com/5862ff0a48ddaea33e96e0ef/5862ff4048ddaea33e96e158_Pages-p-500x382.png 500w, http://uploads.webflow.com/5862ff0a48ddaea33e96e158_Pages.png 807w" sizes="(max-width: 767px) 100vw, (max-width: 991px) 63vw, 55vw" class="papers" />
    </div>
    <div class="coffee">
        <img src="http://uploads.webflow.com/5862ff0a48ddaea33e96e0ef/58630ef348ddaea33e96ec07_Coffee.png" data-ix="coffee" class="coffee-image" />
    </div>
    <div class="glasses">
        <img src="http://uploads.webflow.com/5862ff0a48ddaea33e96e0ef/58630b20bfef163f4170188c_Lentes.png" width="320" data-ix="glasses" />
    </div>
    <div data-ix="hand" class="hand">
        <img src="http://uploads.webflow.com/5862ff0a48ddaea33e96e0ef/5862ff3e715eb35858eeab9d_Hand.png" width="400" data-ix="move-down-on-load-1" class="hand-image" />
    </div>
</div>
<br><br>

{% endblock %}
